"*":
  "atom-latex":
    build_after_save: false
    preview_after_build: "Do nothing"
    save_on_build: true
  core:
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontSize: 11
    softWrap: true
  "exception-reporting":
    userId: "05fc37e8-08e0-40fc-98d7-ce12563c581c"
  "spell-check":
    addKnownWords: true
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain.null-grammar"
      "text.tex.latex"
    ]
    knownWords: [
      "perceptron"
      "Convolutional"
      "mathbb"
      "cdot"
      "includegraphics"
      "textwidth"
      "ldots"
      "textbf"
      "tanh"
      "Frequentist"
      "Backpropagation"
      "citeauthor"
      "frequentist"
      "variational"
      "sigmoid"
      "mathrm"
      "sqrt"
      "frac"
      "nabla"
      "nabla"
      "convolutional"
      "covariates"
      "wiggliness"
      "minimizer"
      "mathcal"
      "nabla"
      "texttt{glm"
      "texttt{glm"
      "texttt{glm"
      "texttt"
      "nabla"
      "ELBO"
      "Overfitting"
      "overfitting"
      "overfit"
      "hyperparameters"
      "regularizer"
      "grayscale"
      "softmax"
      "lenet"
      "lenet"
      "png"
      "subsampling"
      "invariance"
      "CNNs"
      "textit"
      "iteratively"
      "backpropagation"
      "MCMC"
      "MNIST"
      "RNNs"
      "LSTM"
      "GRU"
      "Treebank"
      "Kullback"
      "Leibler"
      "Backprop"
      "covariate"
      "probit"
    ]
  welcome:
    showOnStartup: false
